.menu__conteiner {
  background-image: url(../../assets/ui/paper-background.png);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}